MONGODB_URI=your-url

ACCESS_TOKEN_SECRET=secret-for-access-token
REFRESH_TOKEN_SECRET=secret-for-refresh-token
REFRESH_TOKEN_EXPIRY=1h
ACCESS_TOKEN_EXPIRY=1d
PORT=9000
FRONTEND_URL=*
NODE_ENV=development